@media screen and (max-width: 1200px){
    .container {
        max-width: 1200px;
        padding: 0 20px;
    }


/* instagram start */
    .insta-price-card-pic {
        width: 300px;
        height: 300px;
    }
/* instagram end */

    .combo-card {
        padding: 10px;
    }

    .combo-card-text {
        font-size: 6vw;
    }

    .combo-card-number {
        font-size: 27vw;
        line-height: 110%;
    }
}

@media screen and (max-width: 920px) {
    /* instagram start */
    .insta-price-card {
        width: 45%;
    }
    /* instagram end */

    .footer-item {
        width: 50%;
        text-align: center;
    }
}

@media screen and (max-width: 640px){
    .logo {
        width: 60px;
    }

    .menu-burger {
        display: flex;
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 20;
    }

    .menu {
        width: 100%;
        height: 100%;
        position: absolute;
        top: -100%;
        left: 0;
        font-size: 7vw;
        background-color: rgba(0,0,0,.7);
        transition: background .36s cubic-bezier(0.32, 0.08, 0.24, 1),top .56s cubic-bezier(0.52, 0.16, 0.24, 1);
    }

    .menu a {
        margin: 10px 0;
        display: block;
        transition: .2s;
    }

    .menu.active {
        top: 0;
        /* height: 100%; */
        background-color: #000;
        transition: background .36s cubic-bezier(0.32, 0.08, 0.24, 1),top .56s cubic-bezier(0.52, 0.16, 0.24, 1);
    }

    .menu ul {
        flex-direction: column;
        opacity: 1;
        z-index: 1;
    }

    .menu .sub-menu {
        position: initial;
        margin-left: 20px;
    }

    .hero {
        height: calc(100vh - 67px);
    }

    .hero-img {
        display: none;
    }

    .services-card {
        width: 100%;
    }

/* instagram start */
    .insta-price-card {
        width: 100%;
    }
/* instagram end */
}


@media screen and (max-width: 480px){
    .container {
        padding: 0 5px;
    }

    .services-card {
        height: 280px;
        padding: 20px;
    }

    .services-card-title {
        font-size: 11vw;
    }

    .callback-form-title {
        font-size: 24px;
    }

    .callback-form input {
        margin-bottom: 20px;
    }

    .callback-form button {
        width: 220px;
    }

    .footer-item {
        width: 100%;
    }
}