/* design start */

.c__design-main {
	color: #cd0039;
}

.bgc__design-main {
	background-color: #cd0039;
}
/* design end ---------------------------------------------------------------- */



/* design portfolio start */

.design-portfolio {

}

ul.design-portfolio__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 30px;
	padding: 40px 0;
}

.design-portfolio__item {
	width: 100px;
	height: 100px;
	border-radius: 15%;
	box-shadow: 3px 3px 14px -3px rgba(0,0,0,.3);
	padding: 10px;
}

.design-portfolio__item img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}
/* design portfolio end ---------------------------------------------------------------- */

/* design start */
/* design end ---------------------------------------------------------------- */


/* design start */
/* design end ---------------------------------------------------------------- */