.header {
	background-color: transparent;
}

.header-wrapper {
	justify-content: space-between;
}

.two-red-line {
	position: relative;
}

.two-red-line:before,
.two-red-line:after {
	position: absolute;
	content: "";
	width: 40px;
	height: 1px;
	background-color: #dd004e;
}

.two-red-line.bottom:before {
	bottom: -10px;
}

.two-red-line.bottom:after {
	bottom: -15px;
}

.two-red-line.center:before  {
	left: calc(50% - 10px);
}

.two-red-line.center:after  {
	left: calc(50% + 10px);
}

.two-red-line.lef:before t {
	left: 0;
}

.two-red-line.left:after  {
	left: 10px;
}

/* design start */
/* design end ---------------------------------------------------------------- */
.design-hero {
	width: 100vw;
	height: 100vh;
	margin-top: -140px;
}

.design-hero .container {
	height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 35% 50px;
}

.design-hero-wrapper {
	width: 50%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	margin-left: auto;
	background-color: #000;
	padding: 64px;
}

.design-hero-wrapper h1 {
	font-size: 80px;
	font-weight: bold;
	color: #dd004e;
	text-transform: uppercase;
}

.design-hero-wrapper p {
	font-size: 20px;
	font-weight: normal;
	color: #fff;
	margin-bottom: 20px;
}

.btn-design {}

/* design end ---------------------------------------------------------------- */


/* advantage start */

.advantage {
	background-color: #000;
	color: #fff;
	padding: 40px 0;
}

.advantage-card-list {
	display: flex;
	justify-content: space-between;
}

.advantage-card {
	margin: 20px;
	padding: 20px;
}

.advantage-card-pic {
	width: 40px;
	height: 40px;
	margin: 20px auto;
	fill: #dd004e;
}

.advantage-card-text {
	text-align: center;
	font-size: 15px;
	font-weight: 200;
}
/* advantage end ---------------------------------------------------------------- */

/* design-about start */

.design-about {
	position: relative;
}

.design-about:before,
.design-about:after {
	position: absolute;
	content: "";
	top: 0;
	bottom: 0;
	z-index: -1;
}

.design-about:before {
	right: 50%;
	left: 0;
	background-color: #000;
}

.design-about:after {
	right: 0;
	left: 50%;
	background-color: #fff;
}

.design-about .container {
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 65% 20px;
}

.design-about-wrapper {
	width: 50%;
	padding: 40px 0;
}

.design-about-wrapper h2 {
	font-size: 40px;
	color: #fff;
	margin-bottom: 40px;
}

.design-about-wrapper p {
	font-size: 20px;
	color: #fff;
	margin-bottom: 20px;
}
/* design-about end ---------------------------------------------------------------- */

/* design-services start */

.design-services {
	background-color: #000;
}

.container {}
.design-services-card-wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.design-services-card {
	width: 48%;
	height: 500px;
	padding: 20px;
	margin: 10px 0;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	transition: .3s;
	position: relative;
	overflow: hidden;
}

.design-services-card:hover {
	background-color: #000;
}

.design-services-card:hover .design-services-card-title,
.design-services-card:hover .design-services-card-button {
	color: #fff;
}

.design-services-card:hover .design-services-card-pic svg {
	fill: #dd004e;
}

.design-services-card-title {
	width: 50%;
	font-size: 40px;
	font-weight: bold;
	color: #dd004e;
}

.design-services-card-pic {
	width: 50%;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
}

.design-services-card-pic svg {
	fill: #838383;
}

.design-services-card-button {
	background-color: transparent;
	color: #dd004e;
}
.secondary {}
/* design-services end ---------------------------------------------------------------- */

/* design start */
/* design end ---------------------------------------------------------------- */


/* design start */
/* design end ---------------------------------------------------------------- */

/* design start */
/* design end ---------------------------------------------------------------- */


/* design start */
/* design end ---------------------------------------------------------------- */