/* general styles start */
body {
    font-family: "SF Pro Display", sans-serif;
}

a {
    text-decoration: none;   
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.invisible {
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    opacity: 0;
    color: transparent;
}

.pic-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pic-contain {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.section-title {
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;
}

.section-desc {
    font-size: 20px;
    font-weight: 500;
}

.btn {
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 500;
    background-color: #009cf4;
    border: none;
    color: #fff;
    cursor: pointer;
}


/* general styles end ----------------------------------- */


/*  header start */
header {
    background-color: #000;
}

.header-wrapper {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
}

.logo {
    width: 154px;
}


/*  header end ------------------------------------------ */

/* menu start */

/*burger start*/
.menu-burger {
    display: none;
    width: 48px;
    height: 48px;
    border: 1px solid #fff;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.menu-burger:hover span:before {
    top: 10px;
}

.menu-burger:hover span:after {
    bottom: 10px;
}

.menu-burger span{
    width: 24px;
    border-bottom: 1px solid #fff;
    position: relative;
    transition: .3s;
}

.menu-burger span:before,
.menu-burger span:after {
    position: absolute;
    content: "";
    width: 24px;
    border-bottom: 1px solid #fff;
    transition: .1s;
}

.menu-burger span:before {
    top: 7px;
}

.menu-burger span:after {
    bottom: 7px;
}

.menu-burger.active span {
    width: 0;
}

.menu-burger.active span:before {
    width: 0;
}
/*burger end*/


.menu a {
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
}

.menu ul,
.menu li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu > ul {
    display: flex;
}

.menu > ul > li {
    margin-right: 40px;
    position: relative;
}

.menu > ul > li:last-child {
    margin: 0;
}

.menu a:hover {
    color: #838383;
}

.menu > ul > li:hover .sub-menu{
    opacity: 1;
    z-index: 1;
}

.sub-menu {
    width: 100vw;
    position: absolute;
    opacity: 0;
    z-index: -10;
    transition: .2s;
}

/* menu end ------------------------------------------ */


/*  hero start */

.hero {
    padding: 90px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-title {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 30px;
}

.hero-desc {
    font-size: 20px;
    font-weight: 500;
    text-align: right;
    margin-bottom: 30px;
}
/*  hero end ------------------------------------------ */

/*  services start */

.services-card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.services-card {
    width: calc(50% - 10px);
    height: 330px;
    position: relative;
    box-shadow: 3px 3px 22px 0 rgba(0,0,0,.2);
    padding: 60px;
}

.services-card-title {
    position: absolute;
    font-size: 40px;
    color: #fff;
    z-index: 5;
}

.services-card-pic {
    width: 40%;
    position: absolute;
    top: 30%;
    right: 10%;
}

.services-card-pic:before,
.services-card-pic:after {
    position: absolute;
    content: "";
    width: 6%;
    height: 70%;
    background-color: rgba(0,0,0,.4);
}

.services-card-pic:before {
    top: 2%;
    left: -9%;
}

.services-card-pic:after {
    top: 25%;
    left: -20%;
}

.services-link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
}

/*  services end ------------------------------------------ */

/*  callback start */

.section-callback {
    padding: 40px 0;
}

.callback-form-title {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
}

.callback-form {
    padding: 30px 0;
    text-align: center;
}
/*  callback end ------------------------------------------ */



/*  contacts start */

.section-contacts {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contacts-link {
    font-size: 20px;
    font-weight: 500;
    color: #999;
}

.contacts-link:hover {
    color: #009cf4;
}

.contacts-pic {
    width: 50px;
    height: 50px;
    display: block;
    margin: 20px auto;
    fill: #999;
}

.contacts-link:hover svg {
    fill: #009cf4;
}
/*  contacts end ------------------------------------------ */

/*  footer start */

ul.footer-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px 0;
}

.footer-item {
    width: 25%;
}

.footer-item-title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}

.footer-item-link {
    display: block;
    font-size: 20px;
    font-weight: 200;
    color: #101010;
    transition: .2s;
}

.footer-item-link:hover {
    color: #009cf4;
}

.footer-social {
    display: flex;
    justify-content: center;
}

.footer-social-link {
    width: 40px;
    height: 40px;
    margin: 20px;
    transition: .2s;
}

.footer-social-link:hover svg {
    fill: #009cf4;
}

.copyright {
    font-size: 20px;
    font-weight: 200;
    text-align: center;
    color: #101010;
}
/*  footer end ------------------------------------------ */

/* advantage start */

.advantage {
    padding: 40px 0;
}

.advantage-card-list {
    display: flex;
    justify-content: space-between;
}

.advantage-card {
    margin: 20px;
    padding: 20px;
}

.advantage-card-pic {
    width: 40px;
    height: 40px;
    margin: 20px auto;
    fill: #dd004e;
}

.advantage-card-text {
    text-align: center;
    font-size: 15px;
    font-weight: 200;
}
/* advantage end ---------------------------------------------------------------- */


/*  start */
/*  end ------------------------------------------ */

/*  start */
/*  end ------------------------------------------ */

/*  start */
/*  end ------------------------------------------ */

/*  start */
/*  end ------------------------------------------ */

/*  start */
/*  end ------------------------------------------ */